{% extends 'base.html.twig' %}

{% block body %}
    <div class="facnote-context">
        <h1>{{ editMod ? 'Modifier client' : 'Nouveau client' }}</h1>
    </div>
    <div class="d-flex justify-content-between btn-zone facnote-btn-context">
        <a class="btn btn-dark btn-sm" href="{{ path('client_index') }}">Clients list</a>
    </div>

    <div class="card col-sm-6">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row">
                {{ form_label(form.prenomClient, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(form.prenomClient, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.nomClient, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(form.nomClient, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.telClient, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(form.telClient, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.adrClient, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(form.adrClient, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.idType, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(form.idType, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <a class="btn btn-primary btn-sm" href="{{ path('client_index') }}">Retour</a>
            <button type="submit" class="btn btn-success btn-sm">Create</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
