{% extends 'base.html.twig' %}

{% block body %}
    <div class="facnote-context">
        <h1>Liste des clients</h1>
    </div>
    <div class="facnote-btn-context">
        <a class="btn btn-primary btn-sm" href="{{ path('client_new_edit') }}">new client</a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td scope="row"><h5 class="display-5"><strong><em>Total</em></strong></h5></td>
            <td colspan="6"><strong><em>{{ totalClient }}</em></strong></td>
        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Adresse</th>
            <th scope="col">Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ client.nomClient }}</td>
                <td>{{ client.prenomClient }}</td>
                <td>{{ client.telClient }}</td>
                <td>{{ client.adrClient }}</td>
                <td>{{ client.nomType }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                    <a class="btn btn-warning btn-sm" href="{{ path('client_new_edit', { 'id': client.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
