{% extends 'base.html.twig' %}

{% block body %}
    <div class="facnote-context">
        <h1>Client</h1>
    </div>
    <div class="btn-zone facnote-btn-context">
        <a class="btn btn-dark btn-sm" href="{{ path('client_index') }}">Clients list</a>
        <a class="btn btn-warning btn-sm" href="{{ path('client_new_edit', { 'id': client.id }) }}">edit</a>
        <a class="btn btn-danger btn-sm float-right" href="{{ path('client_delete', { 'id': client.id }) }}">edit</a>
    </div>

    <div class="card col-sm-6">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th class="border-top-0" scope="row">Firstname</th>
                    <td class="border-top-0">{{ client.nomClient }}</td>
                </tr>
                <tr>
                    <th scope="row">Lastname</th>
                    <td>{{ client.prenomClient }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ client.telClient }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ client.adrClient }}</td>
                </tr>
                <tr>
                    <th scope="row">Type de client</th>
                    <td>
                        {% if client.idType is not null %}
                            {{ client.idType.nomType }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
