{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit client infos</h1>
    <div class="d-flex justify-content-between btn-zone">
        <a class="btn btn-dark btn-sm" href="{{ path('client_index') }}">Clients list</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <div class="card col-sm-6">
        <div class="card-body">
            {{ form_start(edit_form, {'action': path('client_edit', {'id': client.id}), 'method': 'POST', 'attr': {novalidate: 'novalidate'}}) }}
            <div class="form-group row">
                {{ form_label(edit_form.firstname, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(edit_form.firstname, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(edit_form.lastname, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(edit_form.lastname, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(edit_form.email, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(edit_form.address, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(edit_form.address, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(edit_form.type, null, { 'label_attr': {'class': 'col-sm-4 col-form-label'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(edit_form.type, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <a class="btn btn-primary btn-sm" href="{{ path('client_index') }}">Retour</a>
            <button type="submit" class="btn btn-success btn-sm">Create</button>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
