{% extends 'base.html.twig' %}

{% block body %}
    <div class="facnote-context">
        <h1>Client</h1>
    </div>
    <div class="btn-zone facnote-btn-context">
        <a class="btn btn-dark btn-sm" href="{{ path('client_index') }}">Clients list</a>
        <a class="btn btn-warning btn-sm" href="{{ path('client_new_edit', { 'id': client.id }) }}">edit</a>
        {{ form_start(delete_form, {'attr': {'class': 'float-right'}}) }}
        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <div class="card col-sm-6">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th class="border-top-0" scope="row">Firstname</th>
                    <td class="border-top-0">{{ client.firstname }}</td>
                </tr>
                <tr>
                    <th scope="row">Lastname</th>
                    <td>{{ client.lastname }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ client.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ client.address }}</td>
                </tr>
                <tr>
                    <th scope="row">Type de client</th>
                    <td>
                        {% if client.type is not null %}
                            {{ client.type.title }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
